body {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#connect {
    width: 100px;
    height: 40px;
    margin-top: 50px;
}
form {
    width: 400px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
.display {
    display: inherit;
}